.grid-wrapper {
  display: flex;
  flex-direction: column;
}

.grid-wrapper h2 {
  color: #fdbd01;
  font-size: 28px;
}

.grid-container,
.small-grid-container {
  display: grid;
  background-color: #3a3a3a;
  border: 1px solid transparent;
  border-radius: 6px;
  padding: 16px 32px;
  margin-bottom: 32px;
}

.grid-container {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 32px;
}

.small-grid-container {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 96px;
}

.icon-wrapper {
  position: relative;
}

/* this is not entirely the answer to my bug */
/* .icon-wrapper:hover {
    opacity: 0.55;
} */


.icon-title {
  position: absolute;
  left: 50%;
  top: 30%;
  font-size: 20px;
  transform: translate(-50%, -50%);
  display: none;
  color: #fdbd01;
  font-weight: bold;
  /* z-index: 1; */
  user-select: none;
}

.icon-wrapper:hover .icon-title {
  display: block;
}

.icon-image {
  border-radius: 6px;
}

/* TODO there is a bug that if i hover over the p tag before the image, the opacity will not c */
.icon-image:hover {
  opacity: 0.35;
  cursor: pointer;
  transform: scale(1.05);
}
