.answerWrapper {
  padding: 0px 10px;
  border: 1px solid #FDBD01;
  border-radius: 5px;
  color: white;

  & ol {
    padding-inline-start: 20px;
    overflow-wrap: break-word;
  }

  & li {
    text-align: left;
    margin-bottom: 12px;
  }
}
