.navbar-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100svw;
    height: 60px;
    background: black;
    border-bottom: 1px solid #34383f;
    display: flex;

    ul {
        display: flex;
        gap: 24px;
        list-style-type: none;
    }

    a {
        color: white;
    }

    a:hover {
        color: #FDBD01;
        cursor: pointer;
    }

    img:hover {
        box-shadow: 0px 0px 6px #FDBD01;
    }
}