/* peach: '#ffcd9e',
  gold: #FDBD01,
  darkGold: #CB8B00,
  green: 228B22,
  silver:  #C0C0C0,
  gray: '#34383f',
  black: '#0a0a0a',
  red: #990000,
   */

#root {
  display: flex;
  position: relative;
  width: 100%;
  height: 100svh;
  margin: auto;
  text-align: center;
  font-size: 14px;
  overflow-x: hidden;
  overflow-y: auto;
  /* background-image: url("../public/2465448.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; */
}

.main-container {
  margin: auto;
}

.hero {
  position: relative;

  h1 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }

  img {
    height: calc(100svh - 140px);
  }
}

.hero::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.chat-bot-container {
  position: absolute;
  right: 10px;
  bottom: 70px;
}

.primary-btn {
  display: flex;
  margin: 16px auto;
  align-items: center;
  justify-content: center;
  width: 230px;
  border: 1px solid #fdbd01;
  background-color: #0a0a0a;
}

.react-chatbot-kit-chat-message-container {
  background-color: #0a0a0a;
  overflow-x: hidden !important;
  height: 404px !important;
  scrollbar-color: #34383f black;
  scrollbar-width: thin;
}

.react-chatbot-kit-chat-input {
  background-color: black;
  height: 18px;
  border-top: none !important;
}

.react-chatbot-kit-chat-input-form {
  background-color: black;
  border-top: 2px solid black;
}

.react-chatbot-kit-chat-input::placeholder {
  background-color: black;
  color: #34383f !important;
}

.react-chatbot-kit-chat-btn-send {
  border: 1px solid #fdbd01 !important;
  border-radius: 6px;
}

.react-chatbot-kit-user-chat-message {
  background-color: black !important;
  color: white !important;
  border: 1px solid #c0c0c0;
  margin-right: 10px;
}

.react-chatbot-kit-user-chat-message-arrow {
  border-left-color: #c0c0c0 !important;
  right: -8px !important;
}

.react-chatbot-kit-chat-bot-message {
  border: 1px solid #fdbd01;
  background-color: black !important;
  margin-left: 10px !important;
}

.react-chatbot-kit-chat-bot-message-arrow {
  border-right-color: #fdbd01 !important;
  left: -8px !important;
}

.navbar-wrapper,
.footer-wrapper {
  position: absolute;
  left: 0;
  width: 100%;
  height: 60px;
  background: black;
  border-bottom: 1px solid #34383f;
  display: flex;
  align-items: center;

  ul {
    display: flex;
    gap: 24px;
    list-style-type: none;
  }

  a {
    color: white;
  }

  a:hover {
    color: #fdbd01;
    cursor: pointer;
  }

  img:hover {
    box-shadow: 0px 0px 6px #fdbd01;
  }
}

.navbar-wrapper {
  top: 0;
}

.footer-wrapper {
  bottom: 0;
  justify-content: flex-end;

  ul {
    margin-right: 40px;
  }
}
