.optionsHeader {
  color: white;
  font-size: 18px;
}

.optionsNameContainer {
  margin: 5px;
  padding: 8px;
  background-color: #d900d5;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.askAnotherBtn {
  padding: 10px 12px;
  border-radius: 5px;
  background-color: #d900d5;
  color: white;
  cursor: pointer;
  display: inline-block;
  margin-top: 12px;
}