.optionsHeader {
  color: white;
  font-size: 18px;
}

.optionsNameContainer {
  margin: 5px;
  padding: 10px;
  background-color: #d900d5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
